<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lv.greendao3">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.TransparentActivity">
        <activity
            android:name=".ContactListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MessagesActivity"/>

        <activity android:name=".ContactDetailActivity" />

        <!-- ####### 友盟 ####### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58be638f677baa264200042d" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="a0e15694b1aa4c20a82c6e01cdb14555" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

    </application>

</manifest>